ENVIRONMENT_NAME=dev
CDK_DEFAULT_REGION=us-east-1
CDK_DEFAULT_ACCOUNT=123456789012

PORT=9000
JAVA_REPO_URL=git@github.com:your-org/your-java-repo.git

AWS_PROFILE=default
AWS_REGION=us-east-1

DOCKER_REGISTRY=123456789012.dkr.ecr.us-east-1.amazonaws.com
IMAGE_NAME=java-app
IMAGE_TAG=latest 