CDK_DEFAULT_REGION=eu-north-1
CDK_DEFAULT_ACCOUNT=123456789012

# Environment-specific settings
ENVIRONMENT_NAME=dev
SSH_SECRET_NAME=java-app-ssh-key-dev
LOGFIRE_SECRET_NAME=LF_TOKEN
AWS_REGION=eu-north-1

DOCKER_REGISTRY=123456789012.dkr.ecr.eu-north-1.amazonaws.com
IMAGE_NAME=java-app
IMAGE_TAG=latest 